<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mytest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@style/MyTheme">
        <activity
            android:name="com.example.mytest.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mytest.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.mytest.attendance.AttendanceMain"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.example.mytest.attendance.DispNames"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.mytest.attendance.FullAttendance"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.mytest.attendance.MoreMenu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.mytest.attendance.ViewAllDates"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.mytest.attendance.AttendanceTabActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.mytest.attendance.FullDateAttendance"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.mytest.attendance.SortAttn"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>